[user]
    name = Sergio Garcez
    email = garcez.sergio@gmail.com
	signingkey = 23D847C82E79205C
[include]
  path = .gitalias
[color]
	ui = true
[core]
    editor = vim
    excludesfile = ~/.gitignore
	autocrlf = false
[push]
	default = simple
[pull]
	rebase = true
[branch]
	autosetupmerge = always
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[pager]
	branch = false
[commit]
	gpgsign = true
[gpg]
  format = ssh
[tig "color"] 
    cursor = black white bold
	title-blur	= white default
	title-focus	= white default bold
[url "git@github.com:"]
    insteadOf = https://github.com/
