[user]
    name = Sergio Garcez
[include]
    path = .gitconfig-personal
[includeIf "gitdir:beat/"]
    path = .gitconfig-beat
[include]
  path = .gitalias
[color]
	ui = true
[core]
    editor = vim
    excludesfile = ~/.gitignore
[push]
	default = simple
[pull]
	rebase = true
[branch]
	autosetupmerge = always
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[pager]
	branch = false
[commit]
	gpgsign = true
[gpg]
	program = gpg
[tig "color"] 
    cursor = black white bold
	title-blur	= white default
	title-focus	= white default bold
[url "git@github.com:"]
	insteadOf = https://github.com/
